@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  background-color: #fcfcfcff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 80%;
}

main {
  margin-top: 4rem;
  width: 100%;
}
